@model OTOMCollapse.Models.ViewModels.PropertyOwners.PropertyDetailsGroupViewModel

<section class="PropertyRepeatGroupContainer">
    <div id="RepeatGroupContainer_Tabs">
        @{ var maxnumbersforTabs = Html.MaxRepeatGroupValue(model => model.Properties);

    //Html.MaxRepeatGroupValue(model => model.Properties.Add(new PropertyRepeatGroup());

    @Html.PartialRepeatGroup(model => model.Properties, new ViewDataDictionary(new { Property = "Properties", maxValues = maxnumbersforTabs }))
    //Html.Partial(@"Partial\_PartialGenericRepeatGroup", Model.Properties.SingleOrDefault(), new ViewDataDictionary( new { Property = "Properties",maxValues = maxnumbersforTabs }));*@

    @Html.Hidden("MaxPropertyRepeatValue", maxnumbersforTabs)
            for (int i = 0; i < maxnumbersforTabs; i++)
            {
                <div id="tabHeader_@i" class="tabHeader ">

                    @*@if (i > 0) {
                        <div id="tabRemove" class="tabRemove">X</div>
                        }*@
                    <div id="tabHeaderSelector_@i" class="tabHeaderSelector"></div>

                    @Html.Raw("Property " + (i + 1))
                </div>
            }
            <div id="tabAdd" class="tabAdd">+</div>

            for (int i = 0; i < Model.Properties.Count; i++)
            {

                <div id="tabBody_@i" class="tabBody">
                    Property Id : @i
                    @*@{Model.Properties.Add(new PropertyRepeatGroup(Model.PropertyLocations.ToList()));}*@
                    @Html.EditorFor(model => model.Properties[i])

                </div>
            }
        }
        @Html.Hidden("currentPropertyRepeatGroupId_Tab", 0)
        @Html.Hidden("selectedPropertyRepeatGroupId_Tab", 0)
        @Html.Label("Add property", new { id = "addProperty_Tab", style = "text-decoration:underline;color:red;cursor:pointer;" })
    </div>
</section>