@model OTOMCollapse.Models.ViewModels.PropertyOwners.PropertyDetailsGroupViewModel


<section class="PropertyRepeatGroupContainer">
    <div id="RepeatGroupContainer_Tabs">
        
       @* @Html.Partial(@"Partial\_PartialGenericRepeatGroup",Model.Properties ,new ViewDataDictionary{{ "RepeatGroupName","Properties" }})*@
        
        @Html.PartialRepeatGroup(model => model.Properties);


      
        @Html.Hidden("currentPropertyRepeatGroupId_Tab", 0)
        @Html.Hidden("selectedPropertyRepeatGroupId_Tab", 0)
        @Html.Label("Add property", new { id = "addProperty_Tab", style = "text-decoration:underline;color:red;cursor:pointer;" })
    </div>
</section>