@model OTOMCollapse.Models.ViewModels.PropertyOwners.StandardQuestionsGroupViewModel

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TargetPremium)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TargetPremium)
    </div>
</article>


<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TradingName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TradingName)
    </div>
</article>


<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.SubsidiaryCompanies)
    </div>
    <div class="editor-field">
        @Html.Partial(@"Partial\_PartialGenericRepeatGroupListStyle", Model, new ViewDataDictionary { {"prop" , Model.SubsidiaryCompanies.GetType().GetGenericArguments()[0]} })
        @Html.Test(Model,model => model.SubsidiaryCompanies)
        <input type="submit" value="xyz" id="subsidiaryCompaniesSubmit" />
        @Html.ActionLink("get", "avais", Model);
    </div>
    <input type="button" id="subsidiaryRepeatGroup" value="Add" />
 </article>


