@model OTOMTests.Models.PropertyOwners

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PropertyOwners</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProposerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProposerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatePropertyBuilt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatePropertyBuilt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PropertyOwnersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
