@model IList<PropertyRepeatGroup>

@for (int i = 0; i < Model.Count; i++) { 

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model[i].PropertyId)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model[i].PropertyId)
    </div>
</article>
 
<article>
    <div class="editor-label">
        @Html.LabelFor(model => model[i].PropertyType)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model[i].PropertyType)
        @Html.ValidationMessageFor(model => model[i].PropertyType)
    </div>
</article>

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model[i].PropertyPercentage)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model[i].PropertyPercentage)
        @Html.ValidationMessageFor(model => model[i].PropertyPercentage)
    </div>
</article>

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model[i].PurchaseDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model[i].PurchaseDate)
        @Html.ValidationMessageFor(model => model[i].PurchaseDate)
    </div>
</article>

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model[i].YearBuilt)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model[i].YearBuilt)
        @Html.ValidationMessageFor(model => model[i].YearBuilt)
    </div>
</article>

<section>
    <div class="nestedRepeatGroupContainer">
        @{
        for (int m = 0; m < Model[i].Location.Count; m++)
        {
            <div id="nestedTabHeader_@i" class="tabHeader">
                <div id="tabHeaderSelector_@i" class="tabHeaderSelector"></div>
                @Html.Raw("Location " + (m + 1))
            </div>
        }
        <div id="locationTabAdd" class="tabAdd">+</div>

         for (int m = 0; m < Model[i].Location.Count; m++)
            {
                <div id="nestedTabBody_@i" class="tabBody">
                    @Html.LabelFor(model => model[i].Location)
                    @Html.DropDownListFor(model => model[i].PropertyLocationId[m], new List<SelectListItem>() { new SelectListItem() { Text = "Avais", Value = "1" } }));@*// ViewData["PropertyLocations"] as IEnumerable<SelectListItem>)*@
                </div>
            }

        }
    </div>
</section>

<section>
        @Html.EditorFor(model => model[i].Address)
</section>

@*@Html.Partial(@"Partial\TabTest")*@

   
}


    