@model OTOMCollapse.Models.RepeatGroups.SubsidiaryRepeatGroup

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyName)
    </div>
</article>

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.EmployersReferenceNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmployersReferenceNumber)
        
        @Html.ValidationMessageFor(model => model.EmployersReferenceNumber)
    </div>
</article>

<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TestRepeatGroups)
    </div>
    <div class="editor-field">
       
    </div>

    @Html.RenderGenericPartialFor(@"Partial\_PartialGenericRepeatGroupListStyle", Model, model => model.TestRepeatGroups)
    @Html.RenderAddMoreButtonFor(model => model.TestRepeatGroups)
</article>


