@model OTOMCollapse.Models.RepeatGroups.TestRepeatGroup


<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TestString)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.TestString)
    </div>
</article>
@ViewData
<article>
    <div class="editor-label">
        @Html.LabelFor(model => model.TestDecimal)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TestDecimal)
    </div>
    <section class="listContainer" style="border:1px solid white;">
          @Html.RenderGenericPartialFor(@"Partial\_PartialGenericRepeatGroupListStyle", Model, model => model.TestRepeatGroupsNested1)
        @*    @Html.RenderAddMoreButtonFor(model => model.TestRepeatGroupsNested1)*@
        </section>

</article>