@model IList<OTOMCollapse.Models.RepeatGroups.TestRepeatGroup>

@{
    
   
}

@Html.BeginListSection()

@for (int i = 0; i < Model.Count; i++)
{
    @Html.SetHtmlTemplateInfo(i);
    <article>
        <div class="editor-label">
            @Html.Label("TestString")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model[i].TestString,"","TestString")
        </div>
    </article>
    
    <article>
        <div class="editor-label">
            @Html.Label("TestDecimal")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model[i].TestDecimal, "", "TestDecimal")
        </div>

    </article>
    }

    @Html.EndListSection()
@Html.RenderAddMoreButton()